form{
    padding: 30px;
    margin-top: 170px;
}


.tools{
    position: absolute;
    margin: 5px;
    top: 0;
    font-size: 50px;
}

.one{
    margin-top: 30px;
}

.two{
    margin-top: 30px;
}

input{
    width: 100%;
}

.btn{
    margin-top: 30px;
    width: 100%;
}

.img{
    margin-right: 0;
}

img{
    height: 670px;
    width: 100%;
}









