.title h2{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 50px;
}

form{
    margin-top: 70px;
    margin-left: 10px;
    padding: 10px;
}

.form-group{
    margin-top: 30px;
}

.btn{
  width: 100%;
  margin-top: 30px;
}

.crear-cuenta{
    margin-top: 30px;
    margin-left: 10px;
}

.imagen img{
    width: 100%;
    height: 660px;
}

